<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Digital Voting administration page!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://peterolson.github.io/BigInteger.js/BigInteger.min.js"></script>
    <script src="googclosure.js"></script>
    <script src="cookie.js"></script>
    <script src="question.js"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="voting.css" >
<div id="adminapp">
    Welcome, {{ name }} <br/>
    <div v-show="admin">
        <button v-on:click="fetchUsers" class="bigbutton" >View/Update User List</button><br/>
        <div class="row" v-show="allusers.length" >
            <span class="col-3"> Name  </span>
            <span class="col-3"> Email </span>
            <span class="col-2">
                Voting Privilege
            </span>
            <span class="col-2">
                Admin Privilege
            </span>
        </div>
        <div v-for="user in allusers" >
            <div class="row" >
                <hr/>
            </div>
            <div class="row" >
                <span class="col-3"> {{ user.name }}  </span>
                <span class="col-3"> {{ user.currentEmail }} </span>
                <span class="col-2">
                    <span v-show="user.allowedToVote"><b><i>V</i></b></span>
                    <button v-show="!user.allowedToVote" v-on:click="user.grantVoting()" class="borderless" >
                        Grant Voting
                    </button>
                    <button v-show="user.allowedToVote" v-on:click="user.revokeVoting()" class="borderless" >
                        Revoke Voting
                    </button>
                </span>
                <span class="col-2">
                    <span v-show="user.admin"><b><i>A</i></b></span>
                    <button v-show="!user.admin" v-on:click="user.grantAdmin()" class="borderless" >
                        Grant Admin
                    </button>
                    <button v-show="user.admin" v-on:click="user.revokeAdmin()" class="borderless" >
                        Revoke Admin
                    </button>
                </span>
            </div>
        </div>
        <button v-on:click="fetchQuestions" class="bigbutton" >View/Update Questions</button><br/>
        <div v-for="question in allquestions" class="boxed" >
            Status: <em>{{ question.status }}</em> <p/>
            <span v-show="!question.canBeEdited()" >
                <h3>
                    {{ question.text }}
                </h3>
            </span>
            <span v-show="question.canBeEdited()" >
                <input v-model="question.text" size="80" />
            </span>
            <div v-for="option in question.possibleResponses" >
                <span v-show="!question.canBeEdited()" >&bull; {{ option.text }}</span>
                <span v-show="question.canBeEdited()" >
                    <input v-model="option.text" maxlength="80" />
                    <button  class="borderless"
                            v-show="question.canDeleteOption()" v-on:click="deleteOption" :id="question.id+':'+option.text">
                        Delete
                    </button>
                </span>
            </div>
            <button  class="borderless"
                     v-show="question.canBeEdited()" v-on:click="question.addOption()">Add Option</button><br/>
            <button  class="bigbutton"
                     :disabled="!question.canBeSaved()" v-show="question.canBeEdited()" v-on:click="question.saveMe()">Save</button>
            <button  class="bigbutton"
                     :disabled="question.hasUnsavedChanges()" v-show="question.canBePosted()" v-on:click="question.postMe()">Start Polling</button>
            <button  class="bigbutton"
                     v-show="question.canBeClosed()" v-on:click="question.closeMe()">End Polling</button>
            <br/>
            <!-- TODO: timer tick to dynamically update display of results of questions in polling status -->
            <b>Results:</b>
            <span v-for="(count, opt) in question.results" >
                <i>{{ opt }} :</i>  {{ count }}
            </span>
        </div>
        <button  class="bigbutton" v-show="showingQuestions" v-on:click="newQuestion" >Create New Question</button>
    </div>
</div>
<form action="logout"  ><input type="submit" value="Log Out" class="loginbutton" ></form>
<script src="admin.js"></script>
</body>
</html>