<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Digital Voting Platform</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="cookie.js?version=2"></script>
    <script src="util.js?version=2"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="voting.css" >
<script>
function showChangePassword() {
        userActive();
        elm = document.getElementById("changepassword");
        elm.hidden = null;
}

function checkNewPasswords(e) {
    userActive();
    var enableSubmit = true;
    if (document.getElementById("password1").value.length < 8) {
        enableSubmit = false;
    }
    if (document.getElementById("password1").value != document.getElementById("password2").value) {
        enableSubmit = false;
    }
    if (document.getElementById("password_old").value.length < 1) {
        enableSubmit = false;
    }
    document.getElementById("submitNewPassword").disabled = !enableSubmit;
}
</script>
<h1>
    Welcome to On-line Digital Voting!
</h1>
<div id="landingapp">
    <form action="logout">
        Welcome, {{ username }}
        <input type="submit" value="Log Out" class="loginbutton" >
    </form>
    <p/>
    <div v-show="admin">
        <a href="admin.html"  >Administration Page&mdash; Manage Voter Permissions and Questions</a>
        <p/>
    </div>
    <div v-show="allowedToVote" >
        <b><i>
            <a href="voting" class="roomy">VOTE here</a>
        </i></b>
        <p/>

    </div>
    <fieldset class="roomy">
        <legend>My Account</legend>
        <b>Name:</b><span class="roomy">{{ name }}</span>
        <b>Email:</b><span class="roomy">{{ email }}</span>  <!-- displays the EFFECTIVE email address here (which may be oldEMail if not confirmed) -->
        <div v-show="!isShowingEdit" >
            <button class="loginbutton roomy" v-on:click="showAccountEditing" >Edit Name and Email</button>
        </div>
        <div v-show="isShowingEdit" >

            Enter new name: <input v-model="newName" class="roomy" /><br/>
            Enter new email address: <input v-model="newEmail" class="roomy"/><br/>
            <i>Note: any new email address will not be in effect until confirmed.</i>
            <button class="loginbutton" :disabled="!canSaveEdits" v-on:click="saveEdits">Save Changes</button>
        </div>
        <i>{{ newEmailNote }}</i>
        <div v-if="newEmailNote">
            <button class="loginbutton" v-on:click="getUserInfo">Refresh</button>
        </div>
    </fieldset>
</div>

<button onclick="showChangePassword()" class="loginbutton">Change My Password</button>
<div id="changepassword" hidden="hidden" >
    <form method="POST" action="changepassword"  >
        <label for="password_old">Old Password:</label><br/>
        <input type="password" id="password_old" name="password" /><br/>

        <label for="password1">Password:</label><br/>
        <input type="password" id="password1" name="password1" /><br/>

        <label for="password2">Repeat password:</label><br/>
        <input type="password" id="password2" name="password2" /><br/>

        <input type="submit" id="submitNewPassword" value="Submit" class="newbutton" disabled="disabled">
    </form>
</div>

<script src="landing.js?version=2"></script>
<script >
var input;
input = document.getElementById("password1");
input.addEventListener('input', checkNewPasswords);
input = document.getElementById("password2");
input.addEventListener('input', checkNewPasswords);
</script>
</body>
</html>