<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Page</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://peterolson.github.io/BigInteger.js/BigInteger.min.js"></script>
    <script src="googclosure.js"></script>
    <script src="cookie.js"></script>
    <script src="question.js"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="voting.css" >
<h1>for testing purposes only</h1>
<div id="voterapp">
    Hello, {{ username }} <p/>
    <div v-show="allowedToVote" >
        <div v-for="question in votableQuestions" class="boxed">
            Question {{ question.id }}.<br/>
            {{ question.text }}
            <!--
                TODO: make buttons unfocusable when they are in effect disabled
                TODO: 'verify all' button -->
            <div v-for="option in question.possibleResponses" >
                <button v-on:click="question.ballot.setCurrentlySelectedResponse(option.text)"
                        :class="question.ballot.classForOption(option.text)">
                    {{ option.text }}
                </button>
            </div>
            <div v-if="question.canVote()">
                <button v-on:click="question.ballot.vote()" class="bigbutton">
                    Submit Vote
                </button>
            </div>
            <div v-if="question.ballot.iVoted()">
                <button v-on:click="question.ballot.verifyVote()" class="bigbutton">
                    Verify
                </button>
            </div>
            <i>{{ question.ballot.verificationMessage }}</i>
            <div v-for="(count, opt) in question.ballot.results" >
                <b>{{ opt }} :</b> <i> {{ count }} </i>
            </div>
        </div>
        <button v-on:click="checkForNewQuestions" class="bigbutton" >Update Question List</button>
    </div>
</div>
<script src="voting.js"></script>
<script>
function fetchQuestions() {
    if (!isTrouble()) {
        voterApp.checkForNewQuestions();
    }
}
function chooseRandomAnswer(q) {
    if (q.ballot.submittedResponse) { return; }
    var i = Math.floor(Math.random()*q.possibleResponses.length);
    q.ballot.currentlySelectedResponse = q.possibleResponses[i].getText();
}
function chooseAnswers() {
    if (isTrouble()) { return; }
    voterApp.votableQuestions.forEach( q => chooseRandomAnswer(q) );
}
function voteIfVotable(q) {
    if (q.canVote()) {
        q.ballot.submitVote();
    }
}
function voteAll() {
    if (isTrouble()) { return; }
    voterApp.votableQuestions.forEach( q => voteIfVotable(q) );
}
function tryVerify(q) {
    if (q.ballot.iVoted()) {
        q.ballot.verifyVote();
    }
}
function verifyAll() {
    if (isTrouble()) { return; }
    voterApp.votableQuestions.forEach( q => tryVerify(q) );
}
setInterval(fetchQuestions, 5*1000);
setInterval(chooseAnswers, 7*1000);
setInterval(voteAll, 11*1000);
setInterval(verifyAll, 13*1000);

</script>
</body>
</html>