<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Digital Voting Platform</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://peterolson.github.io/BigInteger.js/BigInteger.min.js"></script>
    <script src="googclosure.js"></script>
    <script src="cookie.js"></script>
    <script src="question.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
<link rel="stylesheet" type="text/css" href="voting.css" >
<script>
gPublicKey = new bigInt("##EXPONENT##");
gModulus = new bigInt("##MODULUS##");
gPageLoadQuestions = ##QUESTIONS##;
</script>
<div id="voterapp">
    <form action="logout">
        Welcome, {{ username }}
        <input type="submit" value="Log Out" class="loginbutton" >
    </form>
    <p/>
    <div v-show="allowedToVote" >
        <div v-for="question in votableQuestions" class="boxed">
            Question {{ question.id }}.<br/>
            {{ question.text }}
            <span v-if="question.closed" ><i>CLOSED</i></span>
            <div v-if="question.isSingleChoice()" >
                <!-- TODO: make buttons unfocusable when they are in effect disabled -->
                <div v-for="option in question.possibleResponses" >
                    <button v-on:click="question.ballot.setCurrentlySelectedResponse(option.text)"
                            class="choice">
                        <i :class="question.ballot.classForOption(option.text)"></i>
                        {{ option.text }}
                    </button>
                </div>
            </div>
            <div v-if="question.isRankedChoice()" >
                <div class="row" v-if="!question.ballot.canEditResponses()">
                    <span class="col-4 boxed"  >
                        Chosen options, in ranked order:<br/>
                        <div v-for="(option, index) in question.ballot.rankedChoices" class="boxed" >
                            {{ (index+1) }}. {{ option.text }}
                        </div>
                    </span>
                    <span class="col-5 boxed"  >
                        Unselected options: <br/>
                        <div v-for="option in question.ballot.unrankedChoices" class="boxed" >
                            {{ option.text }}
                        </div>
                    </span>
                </div>
                <div class="row" v-if="question.ballot.canEditResponses()">
                    <span class="col-4 boxed roomybottom" v-on:dragover="allowDrop" v-on:drop="drop" >
                        Options you are choosing, in ranked order:<br/>
                        <div v-for="(option, index) in question.ballot.rankedChoices" class="boxed"
                             v-on:dragstart="drag" draggable="true"
                             v-on:dragover="allowDrop" v-on:drop="dropInsert"
                             v-on:keyup="keyOnSelected"
                             tabindex="0" :id="option.getUniqueLabel()" >
                            {{ (index+1) }}. {{ option.text }}
                        </div>
                    </span>
                    <span class="col-5 boxed" v-on:dragover="allowDrop" v-on:drop="dropDelete" >
                        As yet unselected options: <br/>
                        <div v-for="option in question.ballot.unrankedChoices" class="boxed"
                             v-on:dragstart="drag" v-on:keyup="keyOnUnselected" v-on:click="clickUnselected"
                             draggable="true" tabindex="0" :id="option.getUniqueLabel()">
                            {{ option.text }}
                        </div>
                    </span>
                </div>
            </div>
            <div v-if="question.canVote()">
                <button v-on:click="question.ballot.vote()" class="bigbutton">
                Submit Vote
                </button>
            </div>
            <div v-if="question.ballot.iVoted()">
                <button v-on:click="question.ballot.verifyVote()" class="bigbutton">
                    Verify
                </button>
            </div>
            <i>{{ question.ballot.verificationMessage }}</i>
            <span v-if="question.shouldShowResultsDetail()" >
                <div v-for="(count, opt) in question.ballot.results" >
                    <b>{{ opt }} :</b> <i> {{ count }} </i>
                </div>
            </span>
        </div>
        <button v-if="!showOldQuestions" v-on:click="startShowingOldQuestions" class="bigbutton" >
            Show Old Questions
        </button>
    </div>
</div>
<script src="voting.js"></script>
</body>
</html>