<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Digital Voting Platform</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://peterolson.github.io/BigInteger.js/BigInteger.min.js"></script>
    <script src="googclosure.js"></script>
    <script src="cookie.js"></script>
    <script src="question.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
<link rel="stylesheet" type="text/css" href="voting.css" >
<div id="voterapp">
    Hello, {{ username }} <p/>
    <div v-show="allowedToVote" >
        <div v-for="question in votableQuestions" class="boxed">
            Question {{ question.id }}.<br/>
            {{ question.text }}
            <span v-if="question.closed" ><i>CLOSED</i></span>
            <!--
                TODO: make buttons unfocusable when they are in effect disabled
                TODO: 'verify all' button -->
            <div v-for="option in question.possibleResponses" >
                <button v-on:click="question.ballot.setCurrentlySelectedResponse(option.text)"
                        class="choice">
                    <i :class="question.ballot.classForOption(option.text)"></i>
                    {{ option.text }}
                </button>
            </div>
            <div v-if="question.canVote()">
                <button v-on:click="question.ballot.vote()" class="bigbutton">
                Submit Vote
                </button>
            </div>
            <div v-if="question.ballot.iVoted()">
                <button v-on:click="question.ballot.verifyVote()" class="bigbutton">
                    Verify Now
                </button>
            </div>
            <i>{{ question.ballot.verificationMessage }}</i>
            <div v-for="(count, opt) in question.ballot.results" >
                <b>{{ opt }} :</b> <i> {{ count }} </i>
            </div>
        </div>
        <button v-if="isKeyInfoKnown" v-on:click="checkForNewQuestions" class="bigbutton" >
            Update Question List
        </button>
        <button v-if="anyQuestionsVoted" v-on:click="verifyAll" class="bigbutton" >
            Verify All Now
        </button>
        <button v-if="!showOldQuestions" v-on:click="startShowingOldQuestions" class="bigbutton" >
            Show Old Questions
        </button>
    </div>
</div>
<form action="logout"><input type="submit" value="Log Out" class="loginbutton" ></form>
<script src="voting.js"></script>
</body>
</html>